<footer class="border-t-2 border-lighthover py-10">

  <nav class="container">
    <div class="flex flex-col justify-center items-center md:flex-row md:justify-between">
      <!-- Logo -->
      <include src="./views/logo.html"></include>

      <!-- Menú de navegación -->
      <div>
        <ul class="flex flex-col md:flex-row md:gap-8 justify-center items-center">
          <li class="px-1 py-2 hover:text-lighthover hover:outline">
            </i><a class="" href="participantes.html"><i class="fa-solid fa-users"></i>
              Participantes</a>
          </li>
          <li class="px-1 py-2 hover:text-lighthover hover:outline">
            <a class="nav-link" href="jornadas.html"><i class="fa-solid fa-clock"></i> Jornadas</a>
          </li>
          <li class="px-1 py-2 hover:text-lighthover hover:outline">
            <a class="nav-link" href="ia.html"><i class="fa-solid fa-star"></i> IA</a>
          </li>
        </ul>
      </div>

      <ul class="flex flex-row gap-2">
        <li class="px-1 py-2 hover:text-lighthover hover:outline">
          </i><a class="" href="#"><i class="fa-brands fa-google-plus-g" aria-label="Síguenos en google"></i></a>
        </li>
        <li class="px-1 py-2 hover:text-lighthover hover:outline">
          <a href="#"><i class="fa-brands fa-facebook" aria-label="Síguenos en facebook"></i></a>
        </li>
        <li class="px-1 py-2 hover:text-lighthover hover:outline">
          <a href="#"><i class="fa-brands fa-twitter" aria-label="Síguenos en twitter"></i></a>
        </li>
      </ul>

    </div>
  </nav>
</footer>