<header class="bg-lightblue">
    <nav class="text-darkblue container" aria-label="Menú principal">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <!-- Logo -->

            <include src="./views/logo.html"></include>

            <!-- Hamburguesa -->
            <div class="md:hidden py-3">
                <a class="hover:text-lighthover " href="#"><i class="fa-solid fa-bars text-3xl"></i></a>
            </div>


            <!-- Menú de navegación -->
            <div>
                <ul class="flex flex-col md:flex-row md:gap-8 justify-center items-center">
                    <li class="px-1 py-2 hover:text-lighthover hover:outline">
                        </i><a class="" href="participantes.html"><i class="fa-solid fa-users"></i>
                            Participantes</a>
                    </li>
                    <li class="px-1 py-2 hover:text-lighthover hover:outline">
                        <a class="nav-link" href="jornadas.html"><i class="fa-solid fa-clock"></i> Jornadas</a>
                    </li>
                    <li class="px-1 py-2 hover:text-lighthover hover:outline">
                        <a class="nav-link" href="ia.html"><i class="fa-solid fa-star"></i> IA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>